.footerContainer{
    width: 100%;
    margin-top: 2.5rem;
    background-color: rgb(27, 29, 33);
    padding: 48px 0px 0px;
}

.displayFullScreen{
    margin-left: 65px;
}

.display{
    margin-left: 250px;
}
.footerWrap{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
    max-width: 1328px;
    padding: 0px 16px;
    line-height: 2;
}

@media screen and (max-width: 621px){
    .footer-wrap {
        flex-direction: row; 
        padding: 0px;
        text-align: center;
    }
}

@media screen and (max-width:621px){
    .logo{
        text-align: center;
    }
}

.descritpionAndGroupContainer{
    display: flex;
}

@media screen and (max-width: 621px){
    .descritpionAndGroupContainer {
        flex-direction: column;
    }
}

.description{
    width: 360px;
    padding-right: 24px;
    font-size: 12px;
    line-height: 2.3;
    color: rgba(153, 164, 176, 0.8);
    border-right: 1px solid grey;
}
@media screen and (max-width: 621px){
    .description{
        width: 100%;
        padding: 0px;
        border: none;
        line-height: 1.71;
        margin: 1.5rem 0px;
        text-align: center;
        border: none;
    }
}



.linksContainer{
    padding: 0px 24px 0px 48px;
    white-space: nowrap;
    line-height: 2.5;
    margin-right: 40px;
}

@media (min-width:620px){
    .linksContainer{
        display:flex;
        flex-direction: column;
    }
}

.linksStyling{
    display: block;
    font-size: 12px;
    color: rgb(192, 203, 213);
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 621px){
    .linksStyling {
        margin-right: 1rem;
    }
}

.contactusSection{
    max-width: 560px;
}

.contactUsTitle{
    font-size: 12px;
    text-transform: uppercase;
}

@media screen and (max-width:621px){
    .contactUsTitle{
        text-align: center;
    }
}

.contactUsDetails{
    font-size: 14px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (max-width:621px){
    .contactUsDetails{
        text-align: center;
    }
}
.anchorStyle{
    text-decoration: none;
    color: rgb(67, 179, 9);
}

.acceptedCurrenciesTitle{
    font-size: 12px;
    text-transform: uppercase;
}

@media screen and (max-width:621px){
    .acceptedCurrenciesTitle{
        text-align: center;
    }
}

.footerBottom{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 120px;
    text-align: right;
    margin-top: 20px;
    border-top: 1px solid rgba(84, 97, 106, 0.3);
}